.footer{
    background-color: black;
}
.footerLogo img{
    height: 80px;
    width: auto;
    margin-left: 46%;
    /* margin-top: 4%; */
}

.footerIcons i{
    color: white;
}

.footerIcons {
    display: flex;
    gap: 2%;
    justify-content: center;
    margin-top: 2%;
}

.footerText{
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 2%;
}