*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
    
}

.frontScreen{
    height: 130vh;
    width: 100%;
    display: flex;
    background-color: rgb(46, 46, 101);
    align-items: center;
    gap: 3%;
}

.frontScreenLeft{
    height: 100vh;
    flex: 2;
    margin-left: 3%;
}

.frontScreenLeft img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.frontScreenRight{
    height: 90vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-right: 2%;
}

.rightScreen1{
    height: 30vh;
}

.rightScreen1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightScreen2{
    height: 30vh;
}

.rightScreen2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightScreen3{
    height: 30vh;
}

.rightScreen3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.titleText1{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    position: relative;
}
.titleText1::after{
    content: "";
    position: absolute;
    display: block;
    left: 43%;
    bottom: -14px;
    width: 15%;
    height: 3px;
    background-color: black;
}

.releaseCategories{
    display: flex;
    margin-top: 5%;
    gap: 10%;
    margin-left: 28%;
}
.categoryBtn{
    font-size: 20px;
    border: 3px solid red;
    color: red;
    background-color: white;
    padding: 9px 13px;
    border-radius: 5%;
}

.categoryBtn:hover{
    color: white;
    background-color: red;
}

.movieCard{
    width: 240px;
    margin-bottom: 20px;
}

.galleryTop{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
}

.cardImage{
    height: 198px;
    width: 238px;
    object-fit: cover;
    object-position: top;
}

.cardBottom{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 1rem;
    width: 238px;
    background: white;
}

.cardBottom p {
    padding: 2px 16px;
    margin-bottom: 0;
}

.stars{
    padding: 2px 16px;
}
.stars i{
    color: gold;
}

.movieTitle{
    font-size: 20px;
}

.upcomingPoster{
    /* margin-top: 11%; */
    background-color: black;
}

.upcomingPosterImage img{
    height: 300px;
    width: 500px;
    object-fit: cover;

}

.upcomingPosterImage {
   margin-top: 7%;
   display: flex;
   gap: 3%;
   margin-left: 3%;

}

.titleText2{
    font-size: 40px;
    text-align: center;
    padding-top: 6%;
    position: relative;
    color: white;
}

.titleText2::after{
    content: "";
    position: absolute;
    display: block;
    left: 43%;
    bottom: -14px;
    width: 15%;
    height: 3px;
    background-color: red;
}

.upcomingPosterDesc{
    color: white;
    margin-right: 4%;
}

.upcomingMainDesc p{
    text-align: justify;
    margin-top: 4%;
    line-height: 25px;
}

.boldText{
    font-weight: bold;
}

.upcomingCasting p{
    padding: 2% 0;
}

.upcomingBtn1 {
    font-size: 19px;
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 5%;
}

.upcomingBtn1 :hover{
    color: white;
    background-color: #534d4d;
}

.upcomingBtn2{
    font-size: 19px;
    border: 2px solid red;
    color: white;
    background-color: black;
    padding: 9px;
    margin-bottom: 5%;
    border-radius: 5%;
}

.upcomingBtn2:hover{
    background-color: red;
    color: white;
}

.upcomingButtons{
    display: flex;
    gap: 5%;
    margin-left: 3.5%;
    margin-top: 4%;
}

.upcomingTitle p{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.upcomingMiniDesc{
    margin-top: 3%;
    display: flex;
    gap: 2%;
}

.upcomingMiniDesc2{
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding: 0 11px;
}

.playIcon i{
    padding-right: 8px;
}


.addIcon{
    padding-right: 8px;
}

.titleText3{
    font-size: 40px;
    text-align: center;
    padding-top: 6%;
    position: relative;
    color: black;
}

.titleText3::after{
    content: "";
    position: absolute;
    display: block;
    left: 43%;
    bottom: -14px;
    width: 15%;
    height: 3px;
    background-color: black;
}

.contactUsPoster{
    margin-top: 5%;
    height: 90vh;
    width: 100%; 
    margin-bottom: 5%;
    position: relative;
}

.contactUsPoster img{
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.contactUsPoster h1, h2, h3{
    color: white;
    padding-left: 4%;

}

.contactUsPoster h1{
  
    padding-top: 18%;
    padding-left: 4%;

}