* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBECF0;
}

#user_image_rectangle{
    padding: 0.5rem 1.5rem;
    /* border: 2px black solid; */
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
}

#profile_pic{
    height: 12rem;
    width: 12rem;
    border-radius: 90%;
    object-fit: cover;
}

#profile_desc{
    display: flex;
    gap: 5rem;
    align-items: end;
}

/* profile options */
#profile_details{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.section{
    /* height: 21rem; */
    padding: 1rem;
    width: 70vw;
    background-color: #fff;
    margin-bottom: 1.5rem;
}

#profile{
    /* display: none; */
}

#watchlists{
    display: none;
}

#your_lists{
    display: none;
}

#account_settings{
    display: none;
}

#logout{
    display: none;
}